team {
  height: 100%;
  background-color: #fff;
}

.text-above {
  background-image: url(/team-bg.jpg);
}

.text-above h1 {
  font-size: 4rem;
  font-weight: 800;
  padding: 7rem 2rem 0.5rem 2rem;
  line-height: 4rem;
  /* background-image: url(/team-bg.jpg); */
}

.text-above p {
  padding: 0 2rem;
  background: transparent;
}
/* .carousel-img1 a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.carousel-item .carousel-img1 a,
.carousel-item .carousel-img2 a,
.carousel-item .carousel-img3 a {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  font-size: 0.75rem;
  font-weight: 800;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #5d42d3;
  padding: 16px 36px;
  border: 1px solid #fff;
  border-radius: 40px;
  transition: all 0.4s ease;
}

.carousel-item .carousel-img1 a:hover,
.carousel-item .carousel-img2 a:hover,
.carousel-item .carousel-img3 a:hover {
  background-color: #5d42d3;
  border: 1px solid #5d42d3;
  color: #fff;
}

.slick-dots {
  margin-top: 5rem;
}

.carousel-text {
  padding-right: 0;
}

.item-row {
  gap: 5rem;
}

/* .carousel-img1 {
  position: relative;
  width: 100%;
  background-image: url(/carousel-img.jpg);
  background-size: cover;
} */
.banner-item1 {
  color: #fff;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  background-image: url(/banner-1.png);
  background-repeat: no-repeat;
}

.banner-item2 {
  color: #fff;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  background-image: url(/banner-2.png);
  background-repeat: no-repeat;
}

.banner-item3 {
  color: #fff;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  background-image: url(/banner-3.png);
  background-repeat: no-repeat;
}

.banner-text {
  padding: 12.5rem 8rem 2rem 8rem;
}

.banner-text h1 {
  font-weight: 800;
}

.team-btn {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  padding: 19px 41px;
  border: 1px solid #08d7bd;
  background-color: #08d7bd;
  border-radius: 3rem;
  transition: all 0.3s ease;
}

.team-btn:hover {
  background-color: #18e9cd;
}

/* .team-member {
  height: 19rem;
  width: 35rem;
}

.member-img1 {
  height: 100%;
}

.member-img1 img {
  height: 100%;
} */

@media (max-width: 1000px) {
  .banner-text {
    padding: 12.5rem 4rem 2rem 4rem;
  }

  .item-row {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .carousel {
    height: 19rem;
    width: 35rem;
  }
  .team-member {
    height: 18rem;
    width: 31rem;
  }

  .team-member .member-img1 img,
  .team-member .member-img2 img {
    height: 18rem;
    width: auto;
  }

  .item-row {
    /* padding: 0.75rem;s */
  }
}

.navbar {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  background-color: #fff;
  padding: 2vh 18.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
}
.navbar.fixed {
  background-color: #fff;
  padding: 1vh 18.5vw;
}

@media (max-width: 786px) {
  .nav-links {
    display: none;
  }
}
